@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    @{
        var name = "";
        var permissions = "";
        bool IsLogin = false;
        var id = "";
        var RemindCount = "";
        var income = "";
        var IsJudge = "";
        if (Session["name"] != null)
        {
            name = Session["name"].ToString();
        }
        if (Session["permissions"] != null)
        {
            permissions = Session["permissions"].ToString();
        }
        if (Session["IsLogin"] != null)
        {
            IsLogin = (bool)Session["IsLogin"];
        }
        if (Session["id"] != null)
        {
            id = Session["id"].ToString();
        }
        if (Session["RemindCount"] != null)
        {
            RemindCount = Session["RemindCount"].ToString();
        }
        if (Session["inComes"] != null)
        {
            income = Session["inComes"].ToString();
        }
        if (Models.Employee.JudgeLogin())
        {
            IsJudge = "0";
        }
        else
        {
            IsJudge = "1";
        }
    }
    <meta charset="utf-8" />
    <title>主页导航栏</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <link href="~/Content/AdminIndex/css/vendor/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <script type="text/javascript">
        var judeg = @IsJudge;
        var inv = @RemindCount;
        var inc = @income;

        function AdminInventory() {
            var url = "../AdminIndex/AllowanceRemind";
            var width = "100%";
            var height = "800px";
            OpenWin2(url, width, height);
        }

        function RecheckRemind() {
            var url = "../AdminIndex/RecheckRemind";
            var width = "100%";
            var height = "800px";
            OpenWin3(url, width, height);
        }

        function openFrame(url) {
            location.href = url;
        }

        //打开模态框函数
        function OpenWin(url, width, height) {
            var frame = "<iframe width='" + width + "' height='" + height + "' onscroll='true' style='border: 0px;' src='" + url + "'></iframe>";
            $("#myModalBody").html(frame);
            $("#myModal").modal("show");
        }

        function OpenWin2(url, width, height) {
            var frame = "<iframe width='" + width + "' height='" + height + "' onscroll='true' style='border: 0px;' src='" + url + "'></iframe>";
            $("#myModalBody2").html(frame);
            $("#myModal2").modal("show");
        }

         function OpenWin3(url, width, height) {
            var frame = "<iframe width='" + width + "' height='" + height + "' onscroll='true' style='border: 0px;' src='" + url + "'></iframe>";
            $("#myModalBody3").html(frame);
            $("#myModal3").modal("show");
        }

         function closeWin2() {
            //关闭模态框
            $("#myModal2").modal("hide");
        }

        function closeWin() {
            //关闭模态框
            $("#myModal").modal("hide");
        }

        setTimeout(function () {
            if (inv != 0 && judeg == 0) {
                // IE
                if (document.all) {
                    document.getElementById("Onclick1").click();
                }
                    // 其它浏览器
                else {
                    var e = document.createEvent("MouseEvents");
                        e.initEvent("click", true, true);
                        document.getElementById("Onclick1").dispatchEvent(e);
                }
            }
            if (inc != 0 && judeg == 0) {
                // IE
                if (document.all) {
                    document.getElementById("Onclick2").click();
                }
                    // 其它浏览器
                else {
                    var e = document.createEvent("MouseEvents");
                        e.initEvent("click", true, true);
                        document.getElementById("Onclick2").dispatchEvent(e);
                }   
            }
        }, 1000);
    </script>
</head>
<body>
    @if (IsLogin == false)
    {
        <meta http-equiv="refresh" content="0;url=../Index/Index">
    }
    <div class="navbar-custom topnav-navbar">
        <div class="container-fluid">
            <a href="../Inventory/Inventory_list" class="topnav-logo">
                <span class="topnav-logo-lg">
                    <img src="~/images/6b0263055f6110e8622111f6d4c7982.png" height="45"/>
                    <span style="color:#C2C9D0;font-size:160%">钢材库房管理</span>
                </span>
            </a>
            <ul class="list-unstyled topbar-right-menu float-right mb-0">
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" id="topbar-notifydrop" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="dripicons-bell noti-icon"></i>
                        <span class="noti-icon-badge"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg" aria-labelledby="topbar-notifydrop">
                        @*<div class="dropdown-item noti-title">
                                <h5 class="m-0">
                                    <span class="float-right">
                                        <a href="javascript:void(0);" class="text-dark">
                                            <small></small>
                                        </a>
                                    </span>
                                </h5>
                            </div>*@
                        <div class="slimscroll" style="max-height: 230px;">
                            <a href="javascript:AdminInventory()" class="dropdown-item notify-item" id="Onclick1">
                                <div class="notify-icon bg-primary">
                                    <i class="dripicons-warning"></i>
                                </div>
                                <p class="notify-details">
                                    余量提醒
                                    @if (RemindCount == "")
                                    {
                                        <small class="text-muted">无提醒</small>
                                    }
                                    else
                                    {
                                        <small class="text-muted">@RemindCount 条提醒</small>
                                    }
                                </p>
                            </a>
                            <a href="javascript:RecheckRemind()" class="dropdown-item notify-item" id="Onclick2">
                                <div class="notify-icon bg-info">
                                    <i class="dripicons-time-reverse"></i>
                                </div>
                                <p class="notify-details">
                                    复检提醒
                                    @if (income == "")
                                    {
                                        <small class="text-muted">无提醒</small>
                                    }
                                    else
                                    {
                                        <small class="text-muted">@income 条提醒</small>
                                    }
                                </p>
                            </a>
                        </div>
                    </div>
                </li>
                @if (IsLogin)
                {
                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown" id="topbar-userdrop" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span>
                                <span class="account-user-name" style="font-size:100%">登录用户：@name</span>

                                @if (permissions == "1")
                                {
                                    <span class="account-position" style="font-size:100%">
                                        等级：一级管理员
                                    </span>
                                }
                                else if (permissions == "2")
                                {
                                    <span class="account-position" style="font-size:100%">
                                        等级：二级管理员
                                    </span>
                                }
                                else
                                {
                                    <span class="account-position" style="font-size:100%">
                                        等级：三级管理员
                                    </span>
                                }
                            </span>
                        </a>
                    </li>
                    <li class="dropdown notification-list">
                        <a class="nav-link right-bar-toggle" href="../Index/Index">
                            <i class="noti-icon">注销</i>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div class="wrapper">
            <div class="left-side-menu">
                <div class="leftbar-user">
                    <a href="#">
                        <span class="leftbar-user-name" style="font-size:120%"> @name </span>
                    </a>
                </div>
                <ul class="metismenu side-nav">

                    <li class="side-nav-title side-nav-item" style="font-size:100%">导航</li>
                    <li class="side-nav-item">
                        <a href="../Inventory/Inventory_list" class="side-nav-link">
                            <i class="dripicons-store"></i>
                            <span> 库存信息 </span>
                        </a>
                    </li>
                    <li class="side-nav-item">
                        <a href="../DataStatistics/DataStatistics" class="side-nav-link">
                            <i class="dripicons-document"></i>
                            <span> 数据统计 </span>
                        </a>
                    </li>
                    <li class="side-nav-item">
                        <a href="javascript: void(0);" class="side-nav-link">
                            <i class="dripicons-view-apps"></i>
                            <span> 员工信息 </span>
                            <span class="menu-arrow"><span class="dripicons-chevron-right"></span></span>
                        </a>
                        <ul class="side-nav-second-level" aria-expanded="false">
                            @if (permissions != "3")
                            {
                                <li>
                                    <a href="../Employee/Employee_list">员工信息管理</a>
                                </li>
                            }
                            <li>
                                <a href="../Employee/Employee_information?id=@id">个人信息</a>
                            </li>
                        </ul>
                    </li>
                    @if (permissions != "3")
                    {
                        <li class="side-nav-item">
                            <a href="../Position/Position_list" class="side-nav-link">
                                <i class="dripicons-location"></i>
                                <span> 仓库位置管理 </span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="../Department/Department_list" class="side-nav-link">
                                <i class="dripicons-copy"></i>
                                <span> 部门管理 </span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="../Manufacturer/Manufacturer_list" class="side-nav-link">
                                <i class="dripicons-briefcase"></i>
                                <span> 厂商信息 </span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="../Project/Project_list" class="side-nav-link">
                                <i class="dripicons-graph-pie"></i>
                                <span> 项目信息管理 </span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="javascript: void(0);" class="side-nav-link">
                                <i class="dripicons-document"></i>
                                <span> 材料出入库信息 </span>
                                <span class="menu-arrow"><span class="dripicons-chevron-right"></span></span>
                            </a>
                            <ul class="side-nav-second-level" aria-expanded="false">
                                <li>
                                    <a href="../Material/InCome_list">材料入库信息管理</a>
                                </li>
                                <li>
                                    <a href="../OutCome/OutCome_list">材料出库信息管理</a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
            @RenderBody()
        </div>
    </div>
    <div class="content-page">
        <div class="content">
            <footer class="footer">
                <center>Copyright &copy; <b>2019</b> 陕西应用物理化学研究所，火工品安全性可靠性技术国防科技重点实验室</center>
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-right footer-links d-none d-md-block">
                            <a href="javascript: void(0);">关于</a>
                            <a href="javascript: void(0);">支持</a>
                            <a href="javascript: void(0);">联系我们</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background:#FFFFFF; color:#FFF">
                <div class="modal-header" style="padding: 10px;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body" id="myModalBody"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background:#FFFFFF; color:#FFF;width:200%;right:50%">
                <div class="modal-header" style="padding: 10px;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body" id="myModalBody2"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background:#FFFFFF; color:#FFF;width:200%">
                <div class="modal-header" style="padding: 10px;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body" id="myModalBody3"></div>
            </div>
        </div>
    </div>
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
    <script src="~/Content/AdminIndex/js/pages/demo.calendar.js"></script>
    <script src="~/Content/AdminIndex/js/vendor/jquery.dataTables.min.js"></script>
    <script src="~/Content/AdminIndex/js/vendor/dataTables.bootstrap4.js"></script>
    <script src="~/Content/AdminIndex/js/vendor/dataTables.responsive.min.js"></script>
    <script src="~/Content/AdminIndex/js/vendor/dataTables.checkboxes.min.js"></script>
    <script src="~/Content/AdminIndex/js/Index/demo.customers14.js"></script>
    <script src="~/Content/AdminIndex/js/Index/demo.customers4.js"></script>
    <script src="~/Content/AdminIndex/js/Index/demo.customers5.js"></script>
    <script src="~/Content/AdminIndex/js/Index/demo.customers6.js"></script>
    <script src="~/Content/AdminIndex/js/Index/demo.customers7.js"></script>
    <script type="text/javascript">

    </script>
</body>
</html>
