@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>主页导航栏</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <link href="~/Content/AdminIndex/css/vendor/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <script type="text/javascript">

        function AdminLogin() {
            var url = "UserLogin";
            var width = "100%";
            var height = "800px";
            LoginOpen(url, width, height);
        }

        function openFrame(url) {
            location.href = url;
        }

        //打开模态框函数
        function LoginOpen(url, width, height) {
            var frame = "<iframe width='" + width + "' height='" + height + "' onscroll='true' style='border: 0px;' src='" + url + "'></iframe>";
            $("#myModalBody").html(frame);
            $("#myModal").modal("show");
            //$("#myModalBody").load("/");
        }
        function closeWin() {
            //关闭模态框
            $("#myModal").modal("hide");
        }

        //0731修改
        function GotoPartView(AccountDepartment, LoginController) {
            $.ajax({
                type: "post",
                url: /clint/lookfor.ajax,
                success: function (data) {
                    $('#myModalBody').html(data);
                    //获取到数据后在右侧Content下显示分部视图
                    
                }
            });
        }
    </script>
</head>
<body>
    <div class="navbar-custom topnav-navbar">
        <div class="container-fluid">
            <a href="#" class="topnav-logo">
                <span class="topnav-logo-lg">
                    <img src="~/images/6b0263055f6110e8622111f6d4c7982.png"  height="50"/>
                </span>
            </a>
            <ul class="list-unstyled topbar-right-menu float-right mb-0">
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" id="topbar-notifydrop" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="dripicons-bell noti-icon"></i>
                        <span class="noti-icon-badge"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg" aria-labelledby="topbar-notifydrop">
                        <div class="dropdown-item noti-title">
                            <h5 class="m-0">
                                <span class="float-right">
                                    <a href="javascript: void(0);" class="text-dark">
                                        <small>Clear All</small>
                                    </a>
                                </span>Notification
                            </h5>
                        </div>
                    </div>
                </li>
                <li class="dropdown notification-list">
                    <a class="nav-link right-bar-toggle">
                        <i class="dripicons-gear noti-icon"></i>
                    </a>
                </li>
                <li class="dropdown notification-list">
                    <a class="nav-link right-bar-toggle" href="javascript:AdminLogin()">
                        <i class="noti-icon">登录</i>
                    </a>
                </li>
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown" id="topbar-userdrop" href="#" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span>
                            <span class="account-user-name">登录用户：</span>
                            <span class="account-position">Admin</span>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown" aria-labelledby="topbar-userdrop">
                        <div class=" dropdown-header noti-title">
                            <h6 class="text-overflow m-0">欢迎!</h6>
                        </div>
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-account-circle mr-1"></i>
                            <span>My Account</span>
                        </a>
                    </div>
                </li>
            </ul>
            <div class="app-search">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="mdi mdi-magnify"></span>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="wrapper">
            <div class="left-side-menu">

                <div class="leftbar-user">
                    <a href="#">
                        <span class="leftbar-user-name">Admin</span>
                    </a>
                </div>
                <ul class="metismenu side-nav">

                    <li class="side-nav-title side-nav-item">导航</li>

                    <li class="side-nav-item">
                        <a href="javascript: void(0);" class="side-nav-link">
                            <i class="dripicons-view-apps"></i>
                            <span> 人员信息 </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-second-level" aria-expanded="false">
                            <li>
                                <a href="index.html">Ecommerce</a>
                            </li>
                            <li>
                                <a href="dashboard-crm.html">CRM</a>
                            </li>
                            <li>
                                <a href="dashboard-projects.html">Projects</a>
                            </li>
                        </ul>
                    </li>

                    <li class="side-nav-item">
                        <a href="javascript: void(0);" class="side-nav-link">
                            <i class="dripicons-location"></i>
                            <span> 仓库位置 </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-second-level" aria-expanded="false">
                            <li>
                                <a href="apps-calendar.html">Calendar</a>
                            </li>
                            <li class="side-nav-item">
                                <a href="javascript: void(0);" aria-expanded="false">
                                    Projects
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="side-nav-third-level" aria-expanded="false">
                                    <li>
                                        <a href="apps-projects-list.html">List</a>
                                    </li>
                                    <li>
                                        <a href="apps-projects-details.html">Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="apps-tasks.html">Tasks</a>
                            </li>
                            <li class="side-nav-item">
                                <a href="javascript: void(0);" aria-expanded="false">
                                    eCommerce
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="side-nav-third-level" aria-expanded="false">
                                    <li>
                                        <a href="apps-ecommerce-products.html">Products</a>
                                    </li>
                                    <li>
                                        <a href="apps-ecommerce-products-details.html">Products Details</a>
                                    </li>
                                    <li>
                                        <a href="apps-ecommerce-orders.html">Orders</a>
                                    </li>
                                    <li>
                                        <a href="apps-ecommerce-orders-details.html">Order Details</a>
                                    </li>
                                    <li>
                                        <a href="apps-ecommerce-customers.html">Customers</a>
                                    </li>
                                    <li>
                                        <a href="apps-ecommerce-shopping-cart.html">Shopping Cart</a>
                                    </li>
                                    <li>
                                        <a href="apps-ecommerce-checkout.html">Checkout</a>
                                    </li>
                                    <li>
                                        <a href="apps-ecommerce-sellers.html">Sellers</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="side-nav-item">
                        <a href="javascript: void(0);" class="side-nav-link">
                            <i class="dripicons-copy"></i>
                            <span> 部门信息 </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-second-level" aria-expanded="false">
                            <li>
                                <a href="#">财务部</a>
                            </li>
                            <li>
                                <a href="pages-profile.html">人事部</a>
                            </li>
                            <li>
                                <a href="pages-invoice.html">xx部</a>
                            </li>
                            <li>
                                <a href="pages-faq.html">xx部</a>
                            </li>
                            <li>
                                <a href="pages-pricing.html">xx部</a>
                            </li>
                            <li>
                                <a href="pages-maintenance.html">xx部</a>
                            </li>

                        </ul>
                    </li>

                    <li class="side-nav-item">
                        <a href="javascript: void(0);" class="side-nav-link">
                            <i class="dripicons-briefcase"></i>
                            <span> 厂家信息 </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-second-level" aria-expanded="false">
                            <li>
                                <a href="ui-cards.html">Cards</a>
                            </li>
                            <li>
                                <a href="ui-buttons.html">Buttons</a>
                            </li>
                            <li>
                                <a href="ui-modals.html">Modals</a>
                            </li>
                            <li>
                                <a href="ui-tabs.html">Tabs</a>
                            </li>
                            <li>
                                <a href="ui-notifications.html">Notifications</a>
                            </li>
                            <li>
                                <a href="ui-grid.html">Grid</a>
                            </li>
                            <li>
                                <a href="ui-general.html">General</a>
                            </li>
                            <li>
                                <a href="ui-typography.html">Typography</a>
                            </li>
                            <li>
                                <a href="ui-icons.html">Icons</a>
                            </li>
                            <li>
                                <a href="ui-spinners.html">Spinners</a>
                            </li>
                            <li>
                                <a href="ui-dragula.html">Dragula</a>
                            </li>
                        </ul>
                    </li>

                    <li class="side-nav-item">
                        <a href="widgets.html" class="side-nav-link">
                            <i class="dripicons-graph-pie"></i>
                            <span> 项目信息 </span>
                            <span class="menu-arrow"></span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a href="javascript: void(0);" class="side-nav-link">
                            <i class="dripicons-document"></i>
                            <span> 材料信息 </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-second-level" aria-expanded="false">
                            <li>
                                <a href="form-elements.html">库存信息</a>
                            </li>
                            <li>
                                <a href="form-advanced.html">材料入库信息</a>
                            </li>
                            <li>
                                <a href="form-validation.html">材料入库信息</a>
                            </li>
                        </ul>
                    </li>

                    <li class="side-nav-item">
                        <a href="javascript: void(0);" class="side-nav-link">
                            <i class="dripicons-meter"></i>
                            <span> 复检信息 </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-second-level" aria-expanded="false">
                            <li>
                                <a href="charts-chartjs.html">Chartjs</a>
                            </li>
                            <li>
                                <a href="charts-brite.html">Britecharts</a>
                            </li>
                            <li class="side-nav-item">
                                <a href="javascript: void(0);" aria-expanded="false">
                                    Apex Charts
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="side-nav-third-level" aria-expanded="false">
                                    <li>
                                        <a href="charts-apex-line.html">Line</a>
                                    </li>
                                    <li>
                                        <a href="charts-apex-area.html">Area</a>
                                    </li>
                                    <li>
                                        <a href="charts-apex-column.html">Column</a>
                                    </li>
                                    <li>
                                        <a href="charts-apex-bar.html">Bar</a>
                                    </li>
                                    <li>
                                        <a href="charts-apex-mixed.html">Mixed</a>
                                    </li>
                                    <li>
                                        <a href="charts-apex-bubble.html">Bubble</a>
                                    </li>
                                    <li>
                                        <a href="charts-apex-scatter.html">Scatter</a>
                                    </li>
                                    <li>
                                        <a href="charts-apex-pie.html">Pie</a>
                                    </li>
                                    <li>
                                        <a href="charts-apex-radialbar.html">RadialBar</a>
                                    </li>
                                    <li>
                                        <a href="charts-apex-heatmap.html">Heatmap</a>
                                    </li>
                                    <li>
                                        <a href="charts-apex-sparklines.html">Sparklines</a>
                                    </li>
                                    <li>
                                        <a href="charts-apex-candlestick.html">Candlestick</a>
                                    </li>
                                    <li>
                                        <a href="charts-apex-radar.html">Radar</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="charts-sparkline.html">Sparklines</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="content">
            <footer class="footer">
                <center>Copyright &copy; <b>2019</b> 陕西应用物理化学研究所，火工品安全性可靠性技术国防科技重点实验室</center>
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-right footer-links d-none d-md-block">
                            <a href="javascript: void(0);">关于</a>
                            <a href="javascript: void(0);">支持</a>
                            <a href="javascript: void(0);">联系我们</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background:#FFFFFF; color:#FFF">
                <div class="modal-header" style="padding: 10px;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body" id="myModalBody"></div>
            </div>
        </div>
    </div>
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
    <script src="~/Content/AdminIndex/js/pages/demo.calendar.js"></script>
</body>
</html>
