@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <title>用户登录</title>
    <link href="~/Content/Login/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Login/css/animate.css" rel="stylesheet" />
    <link href="~/Content/Login/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/Login/css/style.css" rel="stylesheet" />
    <link href="~/Content/Login/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/Login/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <section class="signin popup-in">
        <div class="container">
            <div class="sign-content popup-in-content">
                <div class="popup-in-txt">
                    <h2>用户登录</h2>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="signin-form">
                                @using (Html.BeginForm("UserLogin", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
                                {
                                    <div class="form-group">
                                        <label for="signin_form">用户名：</label>
                                        <input type="text" class="form-control" id="signin_form" placeholder="请输入用户名">
                                        @Html.TextBoxFor(m => m.name, new { @class = "form-control", placeholder = "请输入用户名", id = "signin_form", type = "text" })
                                    </div>
                                    <div class="form-group">
                                        <label for="signin_form">密码：</label>
                                        <input type="password" class="form-control" id="signin_form" placeholder="请输入密码">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="signin-footer">
                                <button type="button" class="btn signin_btn signin_btn_two" data-toggle="modal" data-target=".signin_modal">
                                    登录
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-copyright">
        <div id="scroll-Top">
            <i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
            <center>Copyright &copy; <b>2019</b> 陕西应用物理化学研究所，火工品安全性可靠性技术国防科技重点实验室</center>
        </div>
    </footer>

    <script src="~/Content/Login/js/jquery.js"></script>
    <script src="~/Content/Login/js/modernizr.min.js"></script>
    <script src="~/Content/Login/js/bootstrap.min.js"></script>
    <script src="~/Content/Login/js/bootsnav.js"></script>
    <script src="~/Content/Login/js/jquery.sticky.js"></script>
    <script src="~/Content/Login/js/jquery.easing.min.js"></script>
    <script src="~/Content/Login/js/custom.js"></script>
</body>
</html>