
@{
    Layout = "~/Views/AdminIndex/AdminIndex.cshtml";
}
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />

    <script type="text/javascript">
       
    </script>
</head>
<div class="content-page">
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">项目信息</a></li>
                            <li class="breadcrumb-item active">项目信息统计</li>
                        </ol>
                    </div>
                    <h4 class="page-title">项目信息统计</h4>
                </div>
            </div>
        </div>
    </div>
</div>
