@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
    <script type="text/javascript">
    </script>
</head>
<body>
    @{ 
       Models.Employee employee = (Models.Employee)ViewData["Employee"];
    }
    <section class="signin popup-in">
        <div class="container">
            <div class="sign-content popup-in-content">
                <div class="popup-in-txt">
                    <h2>员工信息</h2>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="signin-form">
                                <div class="form-group">
                                    <label for="signin_form">姓名：</label>
                                    <input type="text" id="example-readonly" class="form-control" readonly="" value="@employee.name">
                                </div>
                                <div class="form-group">
                                    <label for="signin_form">所属部门：</label>
                                    <input type="text" id="example-readonly" class="form-control" readonly="" value="@employee.departmentId">
                                </div>
                                <div class="form-group">
                                    <label for="signin_form">权限：</label>
                                    <input type="text" id="example-readonly" class="form-control" readonly="" value="@employee.permissions">
                                </div>
                                <div class="form-group">
                                    <label for="signin_form">状态：</label>
                                    <input type="text" id="example-readonly" class="form-control" readonly="" value="@employee.state">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>