@model Models.Department
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
    <script type="text/javascript">
        var isDepName = true;
        function check() {
            var DepName = $("#DepName").val();
            var n = /^[\u4E00-\u9FA5A-Za-z0-9][\x21-\x7e]+$/;
            if (!n.test(DepName) || DepName == "") {
                document.getElementById("Isname").style.display = "";
                isDepName = false;
            } else {
                document.getElementById("Isname").style.display = "none";
                isDepName = true;
            }
            return isDepName;
        }

        function add() {
            check();
            if (isDepName) {
                $.ajax({
                    url: "@Url.Action("Department_add")",
                    type: "post",
                    data: $("form").serialize(),
                    dataType: "json",
                    success: function (data) {
                        data = eval("(" + data + ")");
                        if (data) {
                            alert("添加成功");
                            parent.closeWin();
                            parent.openFrame("Department_list");
                        } else {
                        }
                    }
                });
            } else {
                return;
            }
        }
    </script>
</head>
<body>
    <section class="signin popup-in">
        <div class="container">
            <div class="sign-content popup-in-content">
                <div class="popup-in-txt">
                    <h2>添加部门</h2>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="signin-form">
                                @using (Html.BeginForm("Department_add", "Department", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
                                {
                                <div class="form-group">
                                    <label for="signin_form">部门名称：</label>
                                    <label id="Isname" style="color:#ff0000;display:none;font-size:13px">*公司名称不为空</label>
                                    @Html.TextBoxFor(m => m.departmentName, new { @class = "form-control", type = "text",id="DepName" })
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="signin-footer">
                                <button type="button" class="btn btn-primary" onclick="add();">
                                    添加
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>