@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="card-body pt-2">
    <div id="treeModular" class="demo-tree-more"></div>
    </div>
</body>
</html>
