@model Models.Manufacturer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
    <script type="text/javascript">
        function add() {
            checkTel();
            $.ajax({
                url: "@Url.Action("Manufacturer_add")",
                type: "post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    data = eval("(" + data + ")");
                    if (data) {
                        alert("添加成功");
                        parent.closeWin();
                        parent.openFrame("Manufacturer_list");
                    } else {
                    }
                }
            });
        }
        function checkTel() {
            var tel = document.getElementById('tel').value;
            if (!(/^1[3456789]\d{9}$/.test(tel))) {
                alert("号码有误，请重填");
                update();
            } 
        }

        //function checkTel() {
        //    var tel = document.getElementById('tel').value;
        //    if (!/^(\(\d{3,4}\)|\d{3,4}-|\s)?\d{7,14}$/.test(tel)) {

        //    } else {
        //        alert('电话有误，请重填');
        //        update();
        //    }
        //};
    </script>

</head>
<body>
    <section class="signin popup-in">
        <div class="container">
            <div class="sign-content popup-in-content">
                <div class="popup-in-txt">
                    <h2>厂商信息</h2>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="signin-form">
                                @using (Html.BeginForm("Manufacturer_add", "Manufacturer", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
                                {
                                    <div class="form-group">
                                        <label for="signin_form">厂商名称：</label>
                                        @Html.TextBoxFor(m => m.manufacturersName, new { @class = "form-control", type = "text" })
                                    </div>
                                    <div class="form-group">
                                        <label for="signin_form">联系方式：</label>
                                        @Html.TextBoxFor(m => m.contact, new { @class = "form-control", type = "text", id = "tel", maxlength = "11" })
                                    </div>
                                    <div class="form-group">
                                        <label for="signin_form">地址：</label>
                                        @Html.TextBoxFor(m => m.address, new { @class = "form-control", type = "text" })
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="signin-footer">
                                <button type="button" class="btn btn-primary" onclick="add();">
                                    添加
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
