
@{
    Layout = "~/Views/Login/AdminIndex.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @{
        var mf = (Models.Manufacturer)ViewData["Manufacturer"];
    }
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
    <link href="~/Content/AdminIndex/css/vendor/britecharts.min.css" rel="stylesheet" />
    <script src="~/Content/AdminIndex/js/pages/demo.britechart.js"></script>
    <script src="~/Content/AdminIndex/js/vendor/d3.js"></script>
    <script src="~/Content/AdminIndex/js/vendor/britecharts.js"></script>
    <script type="text/javascript">

        function Update() {
             $.ajax({
                url: "@Url.Action("Manufacturer_information")",
                type: "post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    data = eval("(" + data + ")");
                    if (data) {
                        alert("修改成功");
                        parent.closeWin();
                        parent.openFrame("Manufacturer_information?id="+@mf.id);
                    } else {
                    }
                }
            });
        }
    </script>
</head>
<body>
    <div class="content-page">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">厂商信息</a></li>
                                <li class="breadcrumb-item active">钢材库管理</li>
                            </ol>
                        </div>
                        <h4 class="page-title">厂商信息管理</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-3 header-title">厂商信息</h4>
                            @using (Html.BeginForm("Manufacturer_information", "Manufacturer", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
                            {
                                <div class="form-group row mb-3">
                                    <label class="col-3 col-form-label">厂商名称：</label>
                                    <div class="col-9">
                                        <input type="text" class="form-control" value="@mf.manufacturersName" name="manufacturersName">
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label class="col-3 col-form-label">联系方式：</label>
                                    <div class="col-9">
                                        <input type="text" class="form-control" readonly value="@mf.contact" id="contact" name="contact">
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label class="col-3 col-form-label">地址：</label>
                                    <div class="col-9">
                                        <input type="password" class="form-control" value="@mf.address" id="address" name="address">
                                    </div>
                                </div>

                            }
                            <div class="form-group mb-0 justify-content-end row">
                                <div class="col-9">
                                    <button type="button" class="btn btn-info" onclick="Update()">修改</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>
</html>
