@{
    ViewBag.Title = "入库";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        15+951
    </div>
</body>
</html>
