@{
    ViewBag.Title = "查询";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3>123</h3>

    </div>
</body>
</html>
