@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>仓库管理系统--首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/Content/layui/css/layui.css" media="all">
    <link href="~/Content/AdminIndex/css/vendor/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
    <script src="~/Content/AdminIndex/js/pages/demo.calendar.js"></script>
    <script src="~/Content/AdminIndex/js/vendor/jquery.dataTables.min.js"></script>
    <script src="~/Content/AdminIndex/js/vendor/dataTables.bootstrap4.js"></script>
    <script src="~/Content/AdminIndex/js/vendor/dataTables.responsive.min.js"></script>
    <script src="~/Content/AdminIndex/js/vendor/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/AdminIndex/js/vendor/dataTables.checkboxes.min.js"></script>
    <script charset="utf-8" src="~/Content/AdminIndex/js/pages/demo.customers.js"></script>
    <script src="~/Content/layui/echarts.min(1).js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->

    <script type="text/javascript">
        function AdminLogin() {
            var url = "../Index/UserLogin";
            var width = "100%";
            var height = "800px";
            OpenWin(url, width, height);
        }

        function AdminRegistered() {
            var url = "../Index/UserRegistered";
            var width = "100%";
            var height = "600px";
            OpenWin(url, width, height);
        }

        function openFrame(url) {
            location.href = url;
        }

        //打开模态框函数
        function OpenWin(url, width, height) {
            var frame = "<iframe width='" + width + "' height='" + height + "' onscroll='true' style='border: 0px;' src='" + url + "'></iframe>";
            $("#myModalBody").html(frame);
            $("#myModal").modal("show");
        }

        function closeWin() {
            //关闭模态框
            $("#myModal").modal("hide");
        }


    </script>
</head>
<body>
    <div class="layui-card" style="margin-top:10px;">
        <div class="layui-card-body" style="background-color:#2F4056;height:80px;">
            <div class="nav">
                <div class="left navbar-left">
                    <ul class="layui-nav layui-bg-cyan  ">
                        <li class="layui-nav-item">
                            <a href="javascript:AdminIndex()"><img src="~/images/6b0263055f6110e8622111f6d4c7982.png" height="70" />钢料库管理系统</a>
                        </li>
                        <li class="layui-nav-item layui-this">库存信息</li>
                        <li class="layui-nav-item"><a href="#projectPho">图表展示</a></li>
                        @*<li class="layui-nav-item "><a href="#projectMsg">项目信息</a></li>*@
                    </ul>
                </div>
                <div class="right navbar-right">
                    <ul class="layui-nav layui-layout-right" style="margin:10px">
                        <li class="layui-nav-item">
                            <a href="javascript:AdminLogin()">登录</a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:AdminRegistered()">注册</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>库存信息</legend>
        </fieldset>
        <table class="layui-hide" id="materialName" lay-filter="materialName"></table>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
                <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
                <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
            </div>
        </script>



        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>


        <script src="~/Content/layui/layui.js" charset="utf-8"></script>
        <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

        <script>
            layui.use('table', function () {
                var table = layui.table;

                table.render({
                    elem: '#materialName'
                    , url: '/Models/Model1.edmx/Model1.tt'
                    , toolbar: '#toolbarDemo'
                    , title: '库存信息一览表'
                    , cols: [[
                        { type: 'checkbox', fixed: 'left' }
                        , { field: 'materialName', title: '材料名称', width: 150, edit: 'text', align: 'center' }
                        , { field: 'categoryName', title: '种类', width: 150, edit: 'text', align: 'center' }
                        , { field: 'batch', title: '批次信息', width: 150, sort: true, align: 'center' }
                        , { field: 'amount', title: '统计数量', width: 150, edit: 'text', sort: true }
                        , { field: 'consumptionAmount', title: '库存余量', width: 150, sort: true }
                        , { field: 'unit', title: '单位' }
                        , { field: 'positionId', title: '位置', width: 150 }
                        , { field: 'manufacturersName', title: '厂商名称', width: 150 }
                        , { field: 'price', title: '金额', width: 150, sort: true, align: 'center' }
                    ]]
                    , method: post
                    , page: true,
                    response: {
                        statusName: 'code' //数据状态的字段名称，默认：code
                        , statusCode: 200 //成功的状态码，默认：0
                        , msgName: 'msg' //状态信息的字段名称，默认：msg
                        , countName: 'count' //数据总数的字段名称，默认：count
                        , dataName: 'data' //数据列表的字段名称，默认：data
                    }
                });

                //{ function() {
                //        var getListUrl = "/Models/Model1.edmx/Model1.tt";
                //        get
                //    }
                //}

                //头工具栏事件
                table.on('toolbar(materialName)', function (obj) {
                    var checkStatus = table.checkStatus(obj.config.id);
                    switch (obj.event) {
                        case 'getCheckData':
                            var data = checkStatus.data;
                            layer.alert(JSON.stringify(data));
                            break;
                        case 'getCheckLength':
                            var data = checkStatus.data;
                            layer.msg('选中了：' + data.length + ' 个');
                            break;
                        case 'isAll':
                            layer.msg(checkStatus.isAll ? '全选' : '未全选');
                            break;
                    };
                });

                //监听行工具事件
                table.on('tool(materialName)', function (obj) {
                    var data = obj.data;
                    console.log(obj)
                    //if (obj.event === 'del') {
                    //    layer.confirm('真的删除行么', function (index) {
                    //        obj.del();
                    //        layer.close(index);
                    //    });
                    //} else if (obj.event === 'edit') {
                    //    layer.prompt({
                    //        formType: 2
                    //        , value: data.email
                    //    }, function (value, index) {
                    //        obj.update({
                    //            email: value
                    //        });
                    //        layer.close(index);
                    //    });
                    //}
                });
            });
        </script>

    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend><a name="projectPho"></a>图表展示</legend>
    </fieldset>

    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">饼状图展示</div>
                    <div class="layui-card-body">
                        <div id="main" style="width: 600px;height:400px;"></div>
                        <script type="text/javascript">
                            var myChart = echarts.init(document.getElementById('main'));
                            // 基于准备好的dom，初始化echarts实例
                            var data = genData(50);

                            option = {
                                title: {
                                    text: '库存种类金额统计',
                                    subtext: '',
                                    x: 'center'
                                },
                                tooltip: {
                                    trigger: 'item',
                                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                                },
                                legend: {
                                    type: 'scroll',
                                    orient: 'vertical',
                                    right: 10,
                                    top: 20,
                                    bottom: 20,
                                    data: data.legendData,

                                    selected: data.selected
                                },
                                series: [
                                    {
                                        name: '库存种类',
                                        type: 'pie',
                                        radius: '60%',
                                        center: ['40%', '50%'],
                                        data: data.seriesData,
                                        itemStyle: {
                                            emphasis: {
                                                shadowBlur: 10,
                                                shadowOffsetX: 0,
                                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                                            }
                                        }
                                    }
                                ]
                            };
                            function data() {

                            }


                            function genData(count) {
                                var nameList = [
                                    '赵', '钱', '孙', '李', '周', '吴', '郑', '王', '冯', '陈', '褚', '卫', '蒋', '沈', '韩', '杨', '朱', '秦', '尤', '许', '何', '吕', '施', '张', '孔', '曹', '严', '华', '金', '魏', '陶', '姜', '戚', '谢', '邹', '喻', '柏', '水', '窦', '章', '云', '苏', '潘', '葛', '奚', '范', '彭', '郎', '鲁', '韦', '昌', '马', '苗', '凤', '花', '方', '俞', '任', '袁', '柳', '酆', '鲍', '史', '唐', '费', '廉', '岑', '薛', '雷', '贺', '倪', '汤', '滕', '殷', '罗', '毕', '郝', '邬', '安', '常', '乐', '于', '时', '傅', '皮', '卞', '齐', '康', '伍', '余', '元', '卜', '顾', '孟', '平', '黄', '和', '穆', '萧', '尹', '姚', '邵', '湛', '汪', '祁', '毛', '禹', '狄', '米', '贝', '明', '臧', '计', '伏', '成', '戴', '谈', '宋', '茅', '庞', '熊', '纪', '舒', '屈', '项', '祝', '董', '梁', '杜', '阮', '蓝', '闵', '席', '季', '麻', '强', '贾', '路', '娄', '危'
                                ];
                                var legendData = [];
                                var seriesData = [];
                                var selected = {};
                                for (var i = 0; i < 50; i++) {
                                    name = Math.random() > 0.65
                                        ? makeWord(4, 1) + '·' + makeWord(3, 0)
                                        : makeWord(2, 1);
                                    legendData.push(name);
                                    seriesData.push({
                                        name: name,
                                        value: Math.round(Math.random() * 100000)
                                    });
                                    selected[name] = i < 6;
                                }

                                return {
                                    legendData: legendData,
                                    seriesData: seriesData,
                                    selected: selected
                                };

                                function makeWord(max, min) {
                                    var nameLen = Math.ceil(Math.random() * max + min);
                                    var name = [];
                                    for (var i = 0; i < nameLen; i++) {
                                        name.push(nameList[Math.round(Math.random() * nameList.length - 1)]);
                                    }
                                    return name.join('');
                                }
                            }
                            myChart.setOption(option);
                        </script>

                    </div>
                </div>
            </div>


            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">折线图展示随季度各种类消耗趋势</div>
                    <div class="layui-card-body">
                        <div id="Zhext" style="width: 600px;height:400px;"></div>
                        <script type="text/javascript">
                            // 基于准备好的dom，初始化echarts实例
                            var myChart = echarts.init(document.getElementById('Zhext'));

                            // 指定图表的配置项和数据
                            var option = {
                                title: {
                                    text: '折线图堆叠'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                legend: {
                                    data: ['钢', '铜', '铁', '铝', '银']
                                },
                                grid: {
                                    left: '3%',
                                    right: '4%',
                                    bottom: '3%',
                                    containLabel: true
                                },
                                toolbox: {
                                    feature: {
                                        saveAsImage: {}
                                    }
                                },
                                xAxis: {
                                    type: 'category',
                                    boundaryGap: false,
                                    data: ['一季度', '二季度', '三季度', '四季度']
                                },
                                yAxis: {
                                    type: 'value'
                                },
                                series: [
                                    {
                                        name: '钢',
                                        type: 'line',
                                        stack: '总量',
                                        data: [158, 189, 456, 352]
                                    },
                                    {
                                        name: '铜',
                                        type: 'line',
                                        stack: '总量',
                                        data: [220, 182, 191, 234]
                                    },
                                    {
                                        name: '铁',
                                        type: 'line',
                                        stack: '总量',
                                        data: [150, 232, 201, 154]
                                    },
                                    {
                                        name: '铝',
                                        type: 'line',
                                        stack: '总量',
                                        data: [320, 332, 301, 334]
                                    },
                                    {
                                        name: '银',
                                        type: 'line',
                                        stack: '总量',
                                        data: [263, 450, 300, 60
                                            /*url="Models/Model1.edmx/Model1.tt/.."*/
                                        ]
                                    }
                                ]
                            };


                            // 使用刚指定的配置项和数据显示图表。
                            myChart.setOption(option);
                        </script>
                    </div>
                </div>
            </div>

            <div class="layui-col-md6" style="width:1325px;height:600px;">
                <div class="layui-card">
                    <div class="layui-card-header">柱状图展示</div>
                    <div class="layui-card-body">
                        <div id="Pzhu" style="width: 700px;height:540px;"></div>
                        <script type="text/javascript">
                            
                            function(ecl) {
                                // 基于准备好的dom，初始化echarts实例
                                var myChart = echarts.init(document.getElementById('Pzhu'));
                                // 指定图表的配置项和数据
                                var option = {
                                    title: {
                                        text: '月度消耗量'
                                    },
                                    myChart.showLoading();
                                    $.ajax({
                                        url: 'Models/Model1.edmx/Model1.tt' + (new.Date()).getTime(),
                                        type: 'post',
                                        async: true,
                                        dataType: 'json',
                                        success: function (result) {
                                            myChart.hideLoading();
                                            myChart.setOption({
                                                tooltip: {
                                                    trigger: 'item',
                                                    formatter: "{a}<br/>{b}:({d}%)"
                                                },
                                                legend: {//图例
                                                    data: ['消耗量']
                                                },
                                                xAxis: {
                                                    data: ["一月", "二月", "三月", "四月", "五月", "六月", "八月", "九月", "十月", "十一月", "十二月"]
                                                },
                                                yAxis: {},
                                                series: [{
                                                    name: '消耗量',
                                                    type: 'bar',
                                                    data: [result
                                                        //添加数据
                                                    ]
                                                }]
                                            })
                                        }
                                    })


                                };
                            };
                            // 使用刚指定的配置项和数据显示图表。
                            myChart.setOption(option);
                        </script>
                    </div>
                </div>
            </div>
            @*<div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header"></div>
                        <div class="layui-card-body">

                    </div>
                </div>*@

        </div>
    </div>
    @*<h3></h3>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend><a name="projectMsg"></a>项目信息</legend>
        </fieldset>*@

    @*copyright*@
    <div class="content-page">
        <div class="content">
            <footer class="footer">
                <center>Copyright &copy; <b>2019</b> 西安红叶通讯公司</center>
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-right footer-links d-none d-md-block">
                            <a href="javascript: void(0);">关于</a>
                            <a href="javascript: void(0);">支持</a>
                            <a href="javascript: void(0);">联系我们</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @*返回顶部小火箭*@
    <div style="height: 600px;"></div>
    <script>
        layui.use(['util', 'laydate', 'layer'], function () {
            var util = layui.util
                , laydate = layui.laydate
                , layer = layui.layer;
            //固定块
            util.fixbar({
                bar1: '&#xe619;'
                , css: { right: 50, bottom: 100 }
                , bgcolor: '#393D49'
                , click: function (type) {
                    if (type === 'bar1') {
                        layer.msg('点击小火箭返回顶部！')
                    }
                }
            });
        });
    </script>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background:#FFFFFF; color:#FFF">
                <div class="modal-header" style="padding: 10px;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body" id="myModalBody"></div>
            </div>
        </div>
    </div>
</body>
</html>