@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @RenderBody()
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
    <script src="~/Content/AdminIndex/js/pages/demo.calendar.js"></script>
    <script src="~/Content/AdminIndex/js/vendor/jquery.dataTables.min.js"></script>
    <script src="~/Content/AdminIndex/js/vendor/dataTables.bootstrap4.js"></script>
    <script src="~/Content/AdminIndex/js/vendor/dataTables.responsive.min.js"></script>
    <script src="~/Content/AdminIndex/js/vendor/dataTables.checkboxes.min.js"></script>
    <script src="~/Content/AdminIndex/js/Index/demo.customers14.js"></script>
</body>
</html>
