@model List<Models.QualityCertificationReportImg>
@{
    Layout = "~/Views/AdminIndex/AdminIndex.cshtml";
}
@{ 
    string code = (string)ViewData["code"];
    int id = 0;
    if (ViewData["id"] != null)
    {
        id = (int)ViewData["id"];
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" media="all" />
    <script src="~/Content/layui/layui.js" charset="utf-8"></script>
    <link href="~/Content/image/preview.css" rel="stylesheet" />
    <script src="~/Content/image/preview.js"></script>
    <script type="text/javascript">
        layui.use('upload', function(){
                var $ = layui.jquery
                , upload = layui.upload;
            var id = 0;

            var demoListView = $('#demoList')
            var qualityView = $('#qualityId')
            ,uploadListIns = upload.render({
            elem: '#testList'
            ,url: '/upload/'
            ,accept: 'image/*'
            ,multiple: true
            ,auto: false
            ,choose: function(obj){
              var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
              //读取本地文件
              obj.preview(function(index, file, result){
                  var tr = $(['<tr id="upload-' + index + '">'
                  ,'<td>'+ file.name +'</td>'
                  , '<td>'
                      ,'<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img" width="200%" heigth="200%">'
                  ,'</td>'
                  ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                  ,'<td>'
                    ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                  ,'</td>'
                      , '</tr>'].join(''));
                  var div = $(['<input class="form-control" hidden id="quality'+id+'" type="text" name="quality'+id+'">'].join(''));
                //删除
                tr.find('.demo-delete').on('click', function(){
                  delete files[index]; //删除对应的文件
                    tr.remove();
                    div.remove();
                    uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选

                });
                  qualityView.append(div);
                  $("#quality"+id+"").val(result);
                  demoListView.append(tr);
                  id++;
                  $("#qualityCount").val(id);
              });
            }
            });
        });
        var isDelete;
        function delect(obj,id) {
            var tr=obj.parentNode.parentNode;
	    	var tbody=tr.parentNode;
            tbody.removeChild(tr);
            $("#quality").val($("#quality").val() + id + ",")
            isDelete = true;
        }
        function check() { 
            var recheck = $("#qualityId :input").length;
            if (recheck == 0) {
                document.getElementById("istestList2").style.display = "";
                isRecheck = false;
            } else {
                document.getElementById("istestList2").style.display = "none";
                isRecheck = true;
            }
            }

        function update() {
            check();
            if (isRecheck || isDelete) {
                $.ajax({
                    url: "@Url.Action("QualityReport")",
                    type: "post",
                    data: $("form").serialize(),
                    dataType: "json",
                    success: function (data) {
                        data = eval("(" + data + ")");
                        if (data) {
                            alert("修改成功");
                            parent.openFrame("QualityReport?id=" +@id);
                        }
                    }
                });
            } else { }
        }
    </script>

    <style type="text/css">
        #wrap img {
            vertical-align: top;
            cursor: pointer;
        }

        #wrap2 img {
            vertical-align: top;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="content-page">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">材料出入库信息</a></li>
                                <li>
                                    <span class="dripicons-chevron-right"></span>
                                </li>
                                <li class="breadcrumb-item"><a href="../Material/InCome_list">材料入库信息管理</a></li>
                                <li>
                                    <span class="dripicons-chevron-right"></span>
                                </li>
                                <li class="breadcrumb-item active">质量报告</li>
                            </ol>
                        </div>
                        <h4 class="page-title">质量报告</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="signin-form">
                        @using (Html.BeginForm("QualityReport", "Material", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
                        {
                        <div class="form-group form-row">
                            <div class="layui-upload col-md-6" style="overflow-y:scroll;overflow-x:hidden;height:640px;width:40%">
                                <label for="signin_form">产品质量证明：</label>
                                <label for="signin_form">(点击图片查看，右键点击图片另存为下载图片)</label>
                                <div class="layui-upload">
                                    <div class="layui-upload-list" id="wrap">
                                        <table class="layui-table" id="table">
                                            <thead>
                                                <tr>
                                                    <th>预览图</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{ int count = 1;}
                                                @foreach (var img in Model)
                                                {
                                                    <tr>
                                                        <th>
                                                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(img.img)" class="layui-upload-img" id="img @count">
                                                        </th>
                                                        <th>
                                                            <button class="layui-btn layui-btn-xs layui-btn-danger" onclick="delect(this,@img.id)">删除</button>
                                                        </th>
                                                    </tr>
                                                    count++;
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <input class="form-control" id="quality" name="quality" type="text" hidden>
                            </div>
                            
                            <div class="layui-upload col-md-6">
                                <button type="button" class="layui-btn layui-btn-normal" id="testList">添加新图</button>
                                <label id="istestList2" style="color:#ff0000;display:none;font-size:13px">*需添加新图片</label>
                                <div class="layui-upload-list" id="wrap2">
                                    <table class="layui-table">
                                        <thead>
                                            <tr>
                                                <th>文件名</th>
                                                <th>预览图</th>
                                                <th>大小</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="demoList"></tbody>
                                    </table>
                                </div>
                                <div class="form-group" id="qualityId">
                                </div>
                            </div>
                            <input class="form-control" id="qualityCount" name="qualityCount" type="text" hidden>
                        </div>
                         }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-block btn-primary" onclick="update()">提交</button>
                </div>
            </div>
        </div>
    </div>
   
    <script>
        var preview = new Preview({
            imgWrap: 'wrap' // 指定该容器里的图片点击预览
        })

        var preview = new Preview({
            imgWrap: 'wrap2' // 指定该容器里的图片点击预览
        })
    </script>
</body>
</html>