@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>修改仓储位置</title>
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <script src="~/Content/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        var isPosition ;
        //var isTrue = true;
        //var isDName;
        //var isDTrue;
        function check() {
            var position = $("#position").val().trim();
            var n = /^[\u4E00-\u9FA5A-Za-z0-9]+$/;
            if (n.test(position)|| position !== "") {
                document.getElementById("IsPos").style.display = "none";
                isPosition = true;
            } else {
                document.getElementById("IsPos").style.display = "";
                isPosition = false;
            }
            //var n2 = $("#position1").val();
            //if (n2 != position) {
            //    document.getElementById("button").disabled = false;
            //    isDTrue = true;
            //} else {
            //    document.getElementById("button").disabled = true;
            //    alert("当前内容未改变");
            //    isDTrue = false;
            //}
            //if (isDName && isDTrue) {
            //    isTrue = true;
            //} else {
            //    isTrue = false;
            //}
            
            return isPosition;
        }
        $(function () {
        $("#myform :input").change(function () {
            $("#myform").data("changed", true);
        });

    });
        function Update() {
        if ($("#myform").data("changed")) {
            document.getElementById("button").disabled = false;
            check();
            if (isPosition) {
                $.ajax({
                    url: "@Url.Action("Position_Update")",
                    type: "post",
                    data: $("form").serialize(),
                    dataType: "json",
                    success: function (data) {
                        data = eval("(" + data + ")");
                        if (data) {
                            alert("修改成功");
                            parent.closeWin();
                            parent.openFrame("Position_list");
                        } else {
                            return;
                        }
                    }
                });
            } else {
                return;
            }
        } else {
            alert("没有修改！");

        }
    }
    </script>
</head>
<body>
    @{
        Models.Position position = (Models.Position)ViewData["position"];
    }
    <section class="signin popup-in">
        <div class="container">
            <div class="sign-content popup-in-content">
                <div class="popup-in-txt">
                    <h2 style="text-align:center">修改仓库位置</h2>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="signin-form" id="myform">
                                @using (Html.BeginForm("Position_Update", "Position", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
                                {
                                    <div class="form-group">
                                        <label for="signin_form">仓库位置：</label>
                                        <label id="IsPos" style="color:#ff0000;display:none;font-size:13px">*仓库位置应不为空</label>
                                        @Html.TextBox("positionName", position.positionName, new { @class = "form-control", type = "text", id = "position" })
                                        @Html.TextBox("positionName", position.positionName, new { @class = "form-control", type = "hidden", id = "position1" })
                                    </div>
                                    <div class="form-group">
                                        <label for="signin_form">备注：</label>
                                        @Html.TextBox("note", position.note, new { @class = "form-control", type = "text" })
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" id="button" class="btn btn-block btn-primary" onclick="Update()">修改</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
</body>
</html>
