@model Models.Position
@{
        Layout = null; 
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>添加仓储位置</title>
    <link href="~/Content/Login/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Login/css/animate.css" rel="stylesheet" />
    <link href="~/Content/Login/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/Login/css/style.css" rel="stylesheet" />
    <link href="~/Content/Login/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/Login/css/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Content/Login/js/jquery.js"></script>
    <script src="~/Content/Login/js/modernizr.min.js"></script>
    <script src="~/Content/Login/js/bootstrap.min.js"></script>
    <script src="~/Content/Login/js/bootsnav.js"></script>
    <script src="~/Content/Login/js/jquery.sticky.js"></script>
    <script src="~/Content/Login/js/jquery.easing.min.js"></script>
    <script src="~/Content/Login/js/custom.js"></script>
    <script type="text/javascript">
        function add() {
            $.ajax({
                url: "@Url.Action("Position_add")",
                type: "post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    data = eval("(" + data + ")");
                    if (data) {
                        alert("添加成功");
                        window.location = "Position_list";
                        parent.closeWin();
                    } else {
                    }
                }
            });
        }
    </script>
</head>
<body>
    <section class="signin popup-in">
        <div class="container">
            <div class="sign-content popup-in-content">
                <div class="popup-in-txt">
                    <h2>添加仓库位置</h2>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="signin-form">
                                @using (Html.BeginForm("Position_add", "Position", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
                                {
                                    <div class="form-group">
                                        <label for="signin_form">仓库位置：</label>
                                        @Html.TextBoxFor(m => m.positionName, new { @class = "form-control", type = "text" })
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="signin-footer">
                                <button type="button" class="btn signin_btn signin_btn_two" data-toggle="modal" data-target=".signin_modal" onclick="add();">
                                    添加
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
