@{
    Layout = "~/Views/Login/AdminIndex.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>库存信息</title>
</head>
<body>
    <div>
    库存信息
    </div>
</body>
</html>
